
<div class="container"  >
  <h1>Register Form</h1>
<form #userForm="ngForm" novalidate >
  {{userForm.value|json}} <br>
  {{registerUser|json}}

  <div class="form-group" >
  <label>Username</label>
  <input type="text" name="userName" pattern="[A-z]{1,}[A-Z]{1,}"  [class.is-invalid]="userName.invalid&&userName.touched"  [(ngModel)]="registerUser.userName" #userName="ngModel" required class="form-control" >

  <div *ngIf="userName.errors&&userName.touched">
  <small class="text-danger" *ngIf="userName.errors['required']">Username is required</small>
  <small class="text-danger" *ngIf="userName.errors['pattern']">UserName must contain only CAPITAL and small letters</small>
</div>
</div>

<div class="form-group" >
  <label>Email</label>
  <input type="email" name="email" pattern="[a-z]+@"  [class.is-invalid]="email.invalid&&email.touched" [(ngModel)]="registerUser.email" #email="ngModel"  class="form-control" required >
  <!-- <small class="text-danger" [class.d-none]="email.valid|| email.untouched" >Email must contain @ </small> -->

  <div *ngIf="email.errors&&email.touched">
    <small class="text-danger" *ngIf="email.errors['required']">Email is required</small>
    <small class="text-danger" *ngIf="email.errors['pattern']">Email must contain @</small>
  </div>




  <!-- <div *ngIf="email.errors&&email.touched">
    <small class="text-danger" *ngIf="email.errors['required']">Email is required</small>
    <small class="text-danger" *ngIf="email.errors['pattern']">Email must contain @ </small>
  </div> -->

</div>

<div class="form-group" >
  <label>Password</label>
  <input type="password" name="password" [class.is-invalid]="password.invalid&&password.touched" [(ngModel)]="registerUser.password" #password="ngModel" required class="form-control" >
</div>

<div class="form-group" >
  <label>Confirm Password</label>
  <input type="password" name="confirmPassword" [class.is-invalid]="confirmPassword.invalid&&confirmPassword.touched" [(ngModel)]="registerUser.confirmPassword" #confirmPassword="ngModel" required class="form-control" >
  <small *ngIf="password.value!= confirmPassword.value" class="text-danger" >The password does not match </small>


</div>

<div class="form-group">
  <label for="exampleFormControlSelect1">Where did you hear about us?</label>
  <select class="form-control"  name="select" [class.is-invalid]="select.invalid&&select.touched"  [(ngModel)]="registerUser.select" #select="ngModel" id="exampleFormControlSelect1" required>
    <option>Facebook</option>
    <option>Twitter</option>
    <option>Google</option>
  </select>
</div>
<div>
<button [disabled]="userForm.invalid" type="submit" class="btn btn-success">Submit</button>


</div>
<br>
</form>

</div>

